<template>
  <div class="TextDelay">
    <span
      v-for="(t, index) in text"
      :key="index"
      class="item"
      :style="{animationDelay: delay + index*100+'ms'}"
      v-text="t"
      />
  </div>
</template>

<script>
export default {
  data() {
    return {
    }
  },
  props:{
      text: String,
      delay: Number
  }
}
</script>

<style scoped>
@keyframes text-in {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
}
.item {
  display: inline-block;
  min-width: 0.3em;
  font-size: 1.5em;
  animation: text-in .8s cubic-bezier(0.22, 0.15, 0.25, 1.43) 0s backwards;
  margin-top: 5%;
}
</style>