<template>
  <div class="container">

    <section>
      <h2 class="hidden">Main Content</h2>

      <p class="title-img"><img src="/img/smileflick/sf_top.jpg" alt=""/></p> 
	    <h1 class="title">ウェディング写真共有サービスSmile Flick</h1>

      <div class="columns columns-block">
        <article class="column column-block">
          <h3>フリックひとつで写真と笑顔をリアルタイム共有</h3>
          <p>Smile Flickは、史上初の人工知能(AI)による笑顔採点機能を搭載した最先端のエンターテインメントフォトサービスです。スマートフォンで撮影した写真がリアルタイムでウェディング会場のスクリーンにつぎつぎに映し出され、写真の笑顔が人工知能により点数で判定されます。スマートフォンから写真を選んで、フリック投稿するだけの簡単操作で、出席者の誰もが参加できるブライダル向けサービスです。</p>
        </article>
        <aside class="column column-block">
          <video controls="true" src="/img/smileflick/sf_movie.mp4" alt="" class="placeholder"/>
          <h4>SmileFlickイメージムービー</h4>
        </aside>
      </div>
    </section>

    <div class="columns columns-block">
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/smileflick/sf_icon_1.jpg" alt="" class="thumbnail"/> 
        </p>
        <h4>フリックするだけ簡単操作！</h4>
        <p>Smile Flickは、スマートフォンから写真をフリックするだけでスクリーンへ飛ばすことができ、スクリーンに写真が映し出されます。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/smileflick/sf_icon_2.jpg" alt="" class="thumbnail"/> 
        </p>
        <h4>大盛り上がりのスマイル判定！</h4>
        <p>Smile Flickは、A.Iを用いて写真を顔認識＆笑顔判定し、得点を表示！高得点のお写真を発表する機能も搭載。余興代わりにお使いいただけます。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/smileflick/sf_icon_3.jpg" alt="" class="thumbnail"/> 
        </p>
        <h4>投稿写真をみんなで楽しむ！</h4>
        <p>フリックした写真で会場のスクリーンが埋め尽くされていきます！写真をリアルタイムで共有してもらえるので、楽しさ倍増！</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align">
          <img src="/img/smileflick/sf_icon_4.jpg" alt="" class="thumbnail"/> 
        </p>
        <h4>写真は一括ダウンロード可能！</h4>
        <p>Smile Flickは、当日集まったお写真を一括ダウンロードが可能。（新郎新婦様限定）後日ゲストのみなさんから写真を集める必要はありません！</p>
      </div>
    </div>
      
    <div class="columns columns-garally">
      <div class="column">
        <h2 class="column_title"><img src="/img/smileflick/sf_ss_1.png" alt="" width="400"/></h2>
      </div>
      <div class="column">
        <h2 class="column_title"><img src="/img/smileflick/sf_ss_2.png" alt="" width="400"/></h2>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
  head() {
    return {
    }
  },
  data() {
    return {
    }
  },
  components: {
  },
  async mounted() {
    this.$store.dispatch('LOCK_UI') 

    this.$store.dispatch('UNLOCK_UI')    
  },
  computed: {
    ...mapGetters(['isLoaded'])
  },
  methods : {
  }
}
</script>

<style scoped>
.container {
}

.title {
	font-weight: normal;
	font-style: normal;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	text-align: center;
	color: #D90368;
	letter-spacing: 2px;
  font-size: 1.2em;
  margin-top: 3em;
  margin-bottom: 1em;  
}

.title-img img{
  width: 100%;
  height: auto;
}

.columns-block {
	padding-left: 2%;
	padding-right: 2%;  
}

.column-block {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	color: #565656;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.column-block p{
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #565656;  
}

.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
  text-align: center;
  margin-bottom: 10px;
}

.placeholder {
	width: 100%;
	height: 100%;
}

.column h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 10%;
  color: #717070;
	font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.column h4 {
	text-align: center;
  color: #D90368;
  margin-bottom: 10px;
}

.column p {
	padding-left: 25px;
	padding-right: 25px;
}

.columns-garally {
  background-color: #D90368;
  margin-top: 2em;
  padding-top: 10px;
  padding-bottom: 10px;  
  margin-bottom: 0em;  
}

</style>
