<template>
    <div class="container">
        <form class="form">
        <!-- <form v-on:submit.prevent="submitForm"> -->

            <p v-bind:class="{ 'fld-error': $v.form.name.$error }">
                <label>お名前</label><br>
                <input type="text" v-model.trim="form.name" @input="$v.form.name.$touch()"/>
                <span class="msg-error" v-if="!$v.form.name.required">
                    <small>※必須</small>
                </span>
                <span class="msg-error" v-if="!$v.form.name.minLength">
                    <small>Name must have at least {{ $v.form.name.$params.minLength.min }} letters.</small>
                </span>
            </p>

            <p v-bind:class="{ 'fld-error': $v.form.email.$error }">
                <label>emailアドレス</label><br>
                <input type="text" v-model="form.email" @input="$v.form.email.$touch()"/>

                <span class="msg-error" v-if="!$v.form.email.required">
                    <small>※必須</small>
                </span>
            </p>

            <p v-bind:class="{ 'fld-error': $v.form.message.$error }">
                <label>お問い合わせ内容</label><br>
                <textarea type="text" v-model="form.message" @input="$v.form.message.$touch()"/>

                <span class="msg-error" v-if="!$v.form.message.required">
                    <small>※必須</small>
                </span>
            </p>

            <p class="title is-6">上記の項目をご入力の上、送信ボタンを押してください。</p>
            <p>
                <button class="button is-success is-medium submit-button" type="submit" @click.prevent="submitForm" :disabled="$v.form.$invalid">送信</button>
            </p>
        </form>
    </div>
</template>

<script type="text/javascript">
	import axios from 'axios'
	import { required, minLength } from 'vuelidate/lib/validators'
	export default {
		data() {
			return {
				form: {
					name: '',
                    email: '',
                    message: ''
				}
			}
			
		},
		validations: {
			form: {
				name: {
					required,
					minLength: minLength( 4 )
				},
				email: {
					required
                },
                message: {
                    required
                }
			}
        },
        async mounted() {
            this.$store.dispatch('LOCK_UI') 

            this.$store.dispatch('UNLOCK_UI')    
        },        
		methods: {
			submitForm() {
				let contactFormData = new FormData();
				contactFormData.set( 'name', this.form.name );
                contactFormData.set( 'email', this.form.email );
                contactFormData.set( 'message', this.form.message );
				console.log( 'submitting data...' );
                /*
                axios( {
					method: 'post',
					url: 'https://reqres.in/api/users',
					data: contactFormData
				} ).then( function ( response ) {
					// Handle success.
					console.log( response );
				} ).catch( function ( response ) {
					// Handle error.
					console.log( response );
                } );
                */
			}
		}
	}
</script>

<style type="text/css" scoped>
    .container {
        padding-top: 4em;
        padding-left: 2%;   
        padding-right: 2%;           
    }

    .title {
        margin-top: 2%;
    }

    .form {
        padding-top: 1%;
    }

	.fld-error .msg-error  {
		display: block;
	}
	.msg-error {
        display: none;
        color:red;
    }

    label {
        text-align: left!important;
    }

    input[type=text], select, textarea {
        width: 80%; /* Full width */
        padding: 12px; /* Some padding */  
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }

    /* Style the submit button with a specific background color etc */
    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .submit-button {
        padding-left: 5%;
        padding-right: 5%;
    }


</style>