<template>
  <div class="container">

    <section>
      <h2 class="hidden">Main Content</h2>

      <p class="title-img"><img src="/img/signage/signage_top.jpg" alt=""/></p> 
	    <h1 class="title">自由自在に変化する　近未来ビジョン　デジタルサイネージ</h1>

      <div class="columns columns-block">
        <article class="column column-block">
          <h3>サイズ・形自由自在　LEDビジョン</h3>
          <p>弊社で提供するLEDビジョンは、１つのパーツが幅25cm高さ12.5cmと小さいLEDパネルを組み合わせて設置するため、サイズや形を自由自在に決めることが可能です。曲面対応LED・床LED（対応重量500kg/㎡）も取り扱っており、柱やカーブといった今まで取り付けられなかった場所や、人が大勢乗って楽しめる場所の床にもLEDが活用できるようになりました。</p>
      　  <p>デジタルサイネージの導入で、今までできなかった表現や、広告・販促活動を可能にします。活用方法無限大！</p>    
        </article>
        <aside class="column column-block">
          <video controls="true" src="/img/signage/LEDex.mov" alt="" class="placeholder"/>
          <h4>導入例PV</h4>
        </aside>
      </div>
    </section>

    <div class="columns columns-block">
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/signage/ds_icon01.png" alt="" class="thumbnail"/> 
        </p>
        <h4>最小パーツサイズ幅２５cm！</h4>
        <p>弊社のLEDビジョンは、最小サイズ幅２５cmのパネルを組み合わせて設置する手法です。サイズ・形が自由自在！表現方法は無限大！</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/signage/ds_icon02.png" alt="" class="thumbnail"/> 
        </p>
        <h4>壊れたときも安心。交換は１パーツ！</h4>
        <p>１パーツずつの組み合わせで構築されているため、壊れたり不備があった場合でも、壊れた１パーツだけの交換で済むのでメンテコスト低！</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/signage/ds_icon03.png" alt="" class="thumbnail"/> 
        </p>
        <h4>液晶サイネージも取り扱い</h4>
        <p>LEDビジョンだけでなく、液晶のデジタルサイネージも取り扱っております。国内国外メーカー、大きさ・用途によってご提案します。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/signage/ds_icon04.png" alt="" class="thumbnail"/> 
        </p>
        <h4>簡単操作！独自開発放映システム</h4>
        <p>独自開発したサイネージの放映設定システムは、簡単簡潔操作で遠隔でサイネージの放映内容を設定できます。</p>
      </div>
    </div>

    <section> 
      <div class="columns columns-block">
        <aside class="column column-block"><img src="/img/signage/signage_screen.png" alt="" class="placeholder"/> </aside>
        <article class="column column-block">
		      <h3>独自開発　簡単・簡潔　サイネージ放映内容設定システム</h3>
          <p>弊社のサイネージの放映内容設定システムは、ウェブブラウザで設定するため、遠隔でどこにいても設定することができ、リアルタイム反映が可能です。デジタルサイネージの一番の強みはなんといっても秒単位で切り替えが可能なこと。従来の看板やポスターでは常に同じ内容しか表示できなかったものが、秒単位で変更できるので、広告効果は絶大！２４時間で３０秒コンテンツを２４時間流すとすると、2,880コンテンツの放映が可能です。弊社のシステムでは、レイアウトも自由自在のため同時に複数コンテンツ表示もできます。まさに無限大にコンテンツの表示を遠隔で行うことができます。</p>
        </article>
      </div>
    </section>

  </div>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
  head() {
    return {
    }
  },
  data() {
    return {
    }
  },
  components: {
  },
  async mounted() {
    this.$store.dispatch('LOCK_UI') 

    this.$store.dispatch('UNLOCK_UI')    
  },
  computed: {
    ...mapGetters(['isLoaded'])
  },
  methods : {
  }
}
</script>

<style scoped>
.container {
}

.title {
	font-weight: normal;
	font-style: normal;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	text-align: center;
	color: #D90368;
	letter-spacing: 2px;
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1em;  
}

.title-img img{
  width: 100%;
  height: auto;
}

.columns-block {
	padding-left: 2%;
	padding-right: 2%;  
}

.column-block {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	color: #565656;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0px;
	margin-right: 0px;
}

.column-block p{
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #565656;  
}

.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
  text-align: center;
  margin-bottom: 10px;
}

.placeholder {
	width: 100%;
	height: 100%;
}

.column h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 10%;
  color: #717070;
	font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.column h4 {
	text-align: center;
  color: #D90368;
  margin-bottom: 10px;
}

.column p {
	padding-left: 25px;
	padding-right: 25px;
}

.columns-garally {
  background-color: #D90368;
  margin-top: 2em;
  padding-top: 10px;
  padding-bottom: 10px;  
  margin-bottom: 0em;  
}

</style>
