<template>
  <div class="container">

    <!-- About Section -->
    <section class="about">
      <TextDelay :text="'0から１を生み出して'" :delay="0"/>
      <TextDelay :text="'人々に驚きと感動を。'" :delay="1000"/>
      <TextDelay :text="'株式会社Tamago'" :delay="3000"/>
    </section>

    <!-- Hero Section -->
    <section class="hero" id="hero">
      <div class="mainlogo swing">
        <img src="img/top/top_tamago.png"/>
      </div>
    </section>

    <!-- Parallax Section -->
    <section class="columns banner" id="parallax">
      <div class="column">
        <h2 class="parallax">Tamago, Inc Company Vistgion</h2>
        <p class="parallax_description">私たちは、これからの社会をリードしていく人工知能(AI)にTamago独自の緻密なアルゴリズムを施していくことで、これまでになかったサービスやプロダクトを創造します。</p>
        <nuxt-link to="/company"  class="button button_white">会社概要</nuxt-link>        
      </div>
    </section>

    <!-- Work Section -->
    <section class="work section" id="works">
      <p class="work_title">OUR WORKS</p>

      <div class="columns">

        <article class="work_column column">
          <h4>次世代のインフラ技術</h4>
          <h3>T-Block Chain</h3>
          <img src="/img/top/blockchain_thum.jpg" alt="" width="400" height="200" class="cards"/>
          <p>T-Bock Chainでは、ブロックチェーン技術の適用先である仮想通貨を中心に、広い技術見識に基づいて複数のブロックチェーン技術を統合したサービスの開発を行っています。
          仮想通貨以外の利用方法についても積極的に研究開発を行っており、汎用的な場面での開発を手掛けております。　 </p>
          <nuxt-link to="/works/blockchain"  class="button button_gray">READ MORE</nuxt-link>
        </article>
        <article class="work_column column">
          <h4>ブライダル演出のニュートレンド</h4>
          <h3>写真共有サービス　Smile Flick</h3>
          <img src="/img/top/smileflick_thum.jpg" alt="" width="400" height="200" class="cards"/>
          <p>Smile Flickは、ブライダル業界向けに開発した史上初の人工知能(AI)による笑顔採点機能を搭載した最先端のエンターテインメントフォトサービスです。
          スマートフォンで撮影した写真がリアルタイムでウェディング会場のスクリーンにつぎつぎに映し出され、写真の笑顔が人工知能により点数で判定されます。スマートフォンから写真を選んで、フリック投稿するだけの簡単操作で、出席者の誰もが参加できるブライダル向けサービスです。</p>
          <nuxt-link to="/works/smileflick"  class="button button_gray">READ MORE</nuxt-link>
        </article>      
      </div>

      <div class="columns">
        <article class="work_column column">
          <h4>自由自在に早変わりする近未来型広告媒体</h4>
          <h3>Tamago Signage</h3>
          <img src="/img/top/digitalsignage_thum.jpg" alt="" width="400" height="200" class="cards"/>
          <p>Tamago Signageは、デジタルサイネージ広告の独自放映サービスです。放映させたい広告の大きさや形状などを自由自在に設定できます。
          また、Tamago Signageは、ハードに依存することなく、どこにいても遠隔でリアルタイムに操作が可能なので、屋外の広告との連携を柔軟に対応できることも大きな魅力のサービスです。　 </p>
          <nuxt-link to="/works/signage"  class="button button_gray">READ MORE</nuxt-link>
        </article>

        <article class="work_column column">
          <h4>AI x VR/AR 先端技術開発</h4>
          <h3>Tamago Reaity</h3>
          <img src="/img/top/newmedia_thum.jpg" alt="" width="400" height="200" class="cards"/>
          <p>Tamago Reaityは、漫画や映画の中でしかなかった空想の世界観を、AR、VR技術で現実世界に再現させたサービスです。
          Tamago独自の方法でAI×AR/VRをハイブリットさせたことでクライアント様のアイディアを具現化させることができます。また、ガラス用プロジェクションフィルムやLED+偏光ガラスによるホルグラムなど、最新技術のメディア制作も手掛けており、一歩先の未来を体験することができるサービスです。</p>
          <nuxt-link to="/works/media"  class="button button_gray">READ MORE</nuxt-link>
        </article>

      </div>

      <div class="columns">
        <article class="work_column column">
          <h4>デジタルマーケティングプラットフォームの決定版</h4>
          <h3>Data Marketing Tool Tamago</h3>
          <img src="/img/top/dmp_thum.jpg" alt="" width="400" height="200" class="cards"/>
          <p>Data Marketing Tool Tamagoは、AI×DMPを連携させて、クライアント様の保有するデータを自動的に分析＆可視化ができます。
          どんなデータでも、簡単に統合、集計処理を行って、クライアント様の売上アップや業務改善の施策に活かせるデータに変換させることができるサービスです。</p>
          <nuxt-link to="/works/dmp"  class="button button_gray">READ MORE</nuxt-link>
        </article>

        <article class="column">
        </article>        
      </div>      
      
    </section>
    
    <!-- Contact Section -->
    <section class="footer_banner" id="contact">
      <h2 class="hidden">Footer Banner Section </h2>
      <p class="hero_header">お気軽にお問い合わせください。</p>
      <nuxt-link to="/contact"  class="button button_gray">CONTACT</nuxt-link>
    </section>  
  </div>
</template>

<script>
import TextSwitch from '~/components/animation/TextSwitch.vue'
import TextDelay from '~/components/animation/TextDelay.vue'
import { mapState, mapGetters } from 'vuex'

export default {
  head() {
    return {
    }
  },
  data() {
    return {
    }
  },
  components: {
    TextSwitch,
    TextDelay
  },
  async mounted() {
    this.$store.dispatch('LOCK_UI') 

    this.$store.dispatch('UNLOCK_UI')    
  },
  computed: {
    ...mapGetters(['isLoaded'])
  },
  methods : {
  }
}
</script>

<style scoped>
.container {

}

.contents {
    max-width: 100%;
    width: 100%;  
    height: 96vh;
}

.hero .mainlogo{
	margin: 0 auto 0 auto;
  width: 20%;	
  line-height: 30vh;
}

/* Hero Section */
.hero {
	background-color: #fff;
	padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 5%;
  height: 50vh;
}

/* Hero Section */
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 2%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	color: #717070;
	width: 100%;
}

.swing {
	animation-name: swing;
	animation-duration: 5s;
	animation-delay: .45s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes swing {
    0%,100% { 
        -webkit-transform-origin: bottom center; 
    }
    5% { -webkit-transform: rotate(-13deg); }  
    10% { -webkit-transform: rotate(10deg); }
    15% { -webkit-transform: rotate(-5deg); }   
    20% { -webkit-transform: rotate(5deg); }    
    25% { -webkit-transform: rotate(-3deg); }

    30% { -webkit-transform: rotate(2deg); }
    35% { -webkit-transform: rotate(-2deg); }
    40% { -webkit-transform: rotate(1deg); }
    45% { -webkit-transform: rotate(-1deg); }
	50% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(0deg); }
}


.tagline {
	text-align: center;
	color: #717070;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* About Section */
.about {
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 8%;
	display: inline-block;
	background-color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 5%;
  font-size: 0.7em;
}

/* Parallax Section */
.banner {
	background-color: #CF196F;
	background-attachment: fixed;
	background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%;
  padding-bottom: 5%;
}

.parallax {
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.parallax_description {
	color: #FFFFFF;
	text-align: center;
	font-weight: lighter;
	line-height: 1.2em;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

/* Work */
.work {
	background-color: #FFFFFF;
	padding-bottom: 5%;
  margin: 0 auto;
  margin-bottom: 5%;
}

.work_title{
  color: #565656;
  text-align: center;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  font-size: 1.2em;
  font-weight: bold;
}

.work_column {
	text-align: center;
	padding-top: 5%;
}

.work_column h3 {
  color: #D90368;
  text-align: center;
	font-size: 1.2em;
}

.work_column h4 {
	color: #565656;
	text-align: center;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.work_column p {
	color: #717070;
	background-color: #FFFFFF;
  font-size: 0.8em;
	text-align: justify;
	line-height: 1.8em;
	font-weight: lighter;
	margin-left: 5%;
  margin-right: 5%;  
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";  
}

.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
  max-height: 200px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 30px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
  transition: all 0.3s linear;
  background-color: transparent;
  border: 3px solid;
}

.button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.button_white {
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.button_white:hover {
	border-color: #C4C4C4;
	color: #C4C4C4;
}

.button_gray {
	border-color: #4C4C4C;
	color: #4c4c4c;
}

.button_gray:hover {
	border-color: #FFF900;
	color: #FFF900;
}

.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}

.footer_banner {
	background-color: #ffffff;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-bottom: 0px;
  background-image: url(~/img/pattern.png);
	background-repeat: repeat;
}

footer {
	display: inline-block;
}
.hidden {
	display: none;
}
</style>
