<template>
  <div class="container">

    <section>
      <h2 class="hidden">Main Content</h2>

      <p class="title-img"><img src="/img/media/newmedia_top.jpg" alt=""/></p> 
	  <h1 class="title">AI x VR/AR先端技術開発 最新メディア</h1>

      <div class="columns columns-block">
        <article class="column column-block">
          <h3>最新メディアを各種取り扱い</h3>
          <p>静止画VR　VR動画　AR の撮影・制作を自社内で行なっております。VRは近年最も注目されている新しいメディアのひとつで、使用用途は様々考えられています。弊社では主にエンタメでこれらの最新メディアを使用し、今までになかったプロモーションやPRをご提案しております。</p>
        　<p>デジタルサイネージ・LEDビジョンと併せても、インパクト大のプロモーションになること間違いなし！</p>
        </article>
      </div>
    </section>

    <div class="columns columns-garally">
      <div class="column">
        <youtube
          ref="youtube" 
          :video-id="'NKUmhZ9NPpo'"
          :player-vars="{autoplay:1}"
          :width="contentWidth"
        />
        <p>パノラマVR空撮動画サンプル（※パソコン、または、Youtube公式アプリで閲覧ください）</p>
      </div>
    </div>

    <div class="columns columns-block">
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/media/media_icon01.png" alt="" class="thumbnail"/> 
        </p>
        <h4>静止画・動画のVR/AR</h4>
        <p>弊社のLEDビジョンは、最小サイズ幅２５cmのパネルを組み合わせて設置する手法です。サイズ・形が自由自在！表現方法は無限大！</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/media/media_icon02.png" alt="" class="thumbnail"/> 
        </p>
        <h4>ホログラム技術</h4>
        <p>ホログラムシートによるホログラム制作。近未来の映像ではよくみるホログラム技術。専用のシートを利用することでホログラムを再現。</p>
       </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/media/media_icon03.png" alt="" class="thumbnail"/> 
        </p>
        <h4>表情認識と3Dマッピング技術</h4>
        <p>顔認識技術とAR技術の融合。顔を認識し、同じ動き・表情をデジタル上で再現します。カメラを使って大勢で楽しめる面白コンテンツ。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align">
          <img src="/img/media/media_icon04.png" alt="" class="thumbnail"/> 
        </p>
        <h4>ドローン撮影</h4>
        <p>カメラ搭載ドローンで、今まで撮影が困難だった映像も思いのまま。ドローン×VRという技術の組み合わせも可能。敷居の高かった空撮をお手軽に。</p>
      </div>
    </div>

    <div class="columns columns-garally">
      <aside class="column columns-block">
        <iframe :width="contentWidth" :height="600" src="https://skkdev.com/360/Noymond.html" alt="" class="placeholder"/>
        <p>屋内ストリートビューサンプル</p>
      </aside>
    </div>    

  </div>
</template>

<script>
import Vue from 'vue'
import VueYoutube from 'vue-youtube'
import { mapState, mapGetters } from 'vuex'

Vue.use(VueYoutube)

export default {
  head() {
    return {
    }
  },
  data() {
    return {
    }
  },
  components: {
    VueYoutube
  },
  async mounted() {
    this.$store.dispatch('LOCK_UI') 

    this.$store.dispatch('UNLOCK_UI')    
  },
  computed: {
    contentWidth(){
      return window.innerWidth * 0.9;
    },
    ...mapGetters(['isLoaded'])
  },
  methods : {
  }
}
</script>

<style scoped>
.container {
}

.title {
	font-weight: normal;
	font-style: normal;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	text-align: center;
	color: #D90368;
	letter-spacing: 2px;
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1em;  
}

.title-img img{
  width: 100%;
  height: auto;
}

.columns-block {
	padding-left: 2%;
	padding-right: 2%;  
}

.column-block {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	color: #565656;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.column-block p{
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #565656;  
}

.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}

.thumbnail_align {
  text-align: center;
  margin-bottom: 10px;
}

.placeholder {
	width: 80%;
	height: 500px;
}

.column h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 10%;
  color: #717070;
	font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.column h4 {
	text-align: center;
  color: #D90368;
  margin-bottom: 10px;
}

.column p {
	padding-left: 25px;
	padding-right: 25px;
}

.columns-garally {
  background-image: url(~/img/pattern.png);
	background-repeat: repeat;
  margin-top: 2em;
  padding-top: 10px;
  padding-bottom: 10px;  
  margin-bottom: 0em;
}

</style>
