<template>
  <div class="container">
    <!-- Hero Section -->
    <section class="hero" id="hero">
      <div class="mainlogo swing">
        <img src="img/top/top_tamago.png"/>
      </div>
    </section>

    <section class="about" id="about">
        <h2 class="hidden">About</h2>
        <div class="table">
            <div class=" column-title"><p>企業名</p></div>
            <div class=" column-data"><p>株式会社Tamago</p></div>

            <div class=" column-title"><p>東京オフィス</p></div>
            <div class=" column-data"><p>東京都港区南青山３丁目８番４０号　青山センタービル２F</p></div>

            <div class=" column-title"><p>電 話 番 号</p></div>
            <div class=" column-data"><p>(03)5324-2537</p></div>

            <div class=" column-title"><p>札幌オフィス</p></div>
            <div class=" column-data"><p>北海道札幌市北区北１９条西７丁目３－２１－１０６</p></div>

            <div class=" column-title"><p>代表取締役</p></div>
            <div class=" column-data"><p>良原　広樹 　・　坂口　広樹</p></div>

            <div class=" column-title"><p>取締役</p></div> 
            <div class=" column-data"><p>畠山　学 　・　宮内　駿</p></div>                       

            <div class=" column-title"><p>事業年度</p></div>
            <div class=" column-data"><p>毎年２月１日から翌年１月末日まで</p></div>

            <div class=" column-title"><p>事業内容</p></div>
            <div class=" column-data"><p>インターネットサービス、デジタルサイネージ、AI、エンターテイメント、ブロックチェーンに関わるシステム開発、及び、販売</p></div>
        </div>
        <div class="map">
            <div class="column-title"><p>東京オフィス所在地</p></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254.61512586537776!2d139.71502975587046!3d35.66750846262869!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c9e5c114061%3A0xf082d8383bf224f9!2z44CSMTA3LTAwNjIg5p2x5Lqs6YO95riv5Yy65Y2X6Z2S5bGx77yT5LiB55uu77yY4oiS77yU77yQIO-8te-8sumDveW4guapn-ani-WNl-mdkuWxse-8k-S4geebruOCouODkeODvOODiOmdkuWxseOCu-ODs-OCv-ODvOODk-ODqw!5e0!3m2!1sja!2sjp!4v1547790390066" :width="width * 0.8" :height="width * 0.6" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </section>
  </div>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
  head() {
    return {
    }
  },
  data() {
    return {
        width: window.innerWidth,
    }
  },
  components: {
  },
  async mounted() {
    this.$store.dispatch('LOCK_UI') 

    this.$store.dispatch('UNLOCK_UI')    
  },
  computed: {
    ...mapGetters(['isLoaded'])
  },
  methods : {
  }
}
</script>

<style scoped>
.container {
}

.hero .mainlogo{
	margin: 0 auto 0 auto;
  width: 10%;	
}

/* Hero Section */
.hero {
	background-color: #fff;
	padding-top: 15vh;
  padding-bottom: 1%;
  margin-bottom: 5%;
  height: 30vh;
}

/* Hero Section */
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 2%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	color: #717070;
	width: 100%;
}

.swing {
	animation-name: swing;
	animation-duration: 5s;
	animation-delay: .45s;
	animation-iteration-count: infinite;
}

@-webkit-keyframes swing {
    0%,100% { 
        -webkit-transform-origin: bottom center; 
    }
    5% { -webkit-transform: rotate(-13deg); }  
    10% { -webkit-transform: rotate(10deg); }
    15% { -webkit-transform: rotate(-5deg); }   
    20% { -webkit-transform: rotate(5deg); }    
    25% { -webkit-transform: rotate(-3deg); }

    30% { -webkit-transform: rotate(2deg); }
    35% { -webkit-transform: rotate(-2deg); }
    40% { -webkit-transform: rotate(1deg); }
    45% { -webkit-transform: rotate(-1deg); }
	50% { -webkit-transform: rotate(0deg); }
   100% { -webkit-transform: rotate(0deg); }
}

.table {
    width: 90%;
    margin: 0 auto;
}

.about {
	padding-top: 5%;
	display: inline-block;
	background-color: #FFFFFF;
	width: 80%;
}

.column-title {
    white-space: nowrap;   
    font-weight: bold;
	text-align: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    margin-bottom: 2%;
    font-size: 1em;
}

.column-data {    
	text-align: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
    margin-bottom: 5%;
    font-size: 1em;    
}


.map{
    align-content: center;
    width:auto;
    margin-bottom: 5%;    
}

.map div {
    margin-left: 10%;
}


</style>
