<template>
  <div class="container">

    <section>
      <h2 class="hidden">Main Content</h2>

      <p class="title-img"><img src="/img/blockchain/blockchain_top.jpg" alt=""/></p> 
	    <h1 class="title">次世代のインフラ技術ブロックチェーン</h1>

      <div class="columns columns-block">
        <article class="column column-block">
          <h3>決済システム</h3>
          <p>仮想通貨を用いて、商品代金を支払う決済システムを開発。複数の銘柄の仮想通貨を区別なく使用することが可能であり、随時追加することができます。</p>
      　  <p>実店舗に設置し、レジと連動して利用可能なアプリケーションと専用タブレットを用いることで安全に、かつ、簡単に利用できます。</p>
      　  <p>対応通貨：BTC、BCH、XFC、XRP、ETH</p> 
        </article>
        <aside class="column column-block"><img controls="true" src="/img/blockchain/payment.jpg" alt="" class="placeholder"/> </aside>
      </div>
    </section>

    <div class="columns columns-block">
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/blockchain/bc_icon01.png" alt="" class="thumbnail"/> 
        </p>
        <h4>オンラインウォレット</h4>
        <p>仮想通貨を安心、安全に管理するオンラインウォレットを開発。サーバ上からお客様の秘密鍵を漏洩させないための堅牢なセキュリティ対策を施す。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/blockchain/bc_icon02.png" alt="" class="thumbnail"/> 
        </p>
        <h4>ブロックチェーン応用</h4>
        <p>イーサリアムのスマートコントラクトを活用し、２者間のデータの安全なやり取り実行、ログ履歴保存、トレーサビリティ調査を行うためのツールを開発中。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/blockchain/bc_icon03.png" alt="" class="thumbnail"/> 
        </p>
        <h4>基幹システム開発</h4>
        <p>業務用基幹システムとブロックチェーンネットワークを結合する仲介システムを開発中。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/blockchain/bc_icon04.png" alt="" class="thumbnail"/> 
        </p>
        <h4>研究開発</h4>
        <p>既存ブロックチェーンの応用だけではなく、技術改良や新規ブロックチェーンアルゴリズムの研究開発を実施中。</p>
      </div>
    </div>

  </div>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
  head() {
    return {
    }
  },
  data() {
    return {
    }
  },
  components: {
  },
  async mounted() {
    this.$store.dispatch('LOCK_UI') 

    this.$store.dispatch('UNLOCK_UI')    
  },
  computed: {
    ...mapGetters(['isLoaded'])
  },
  methods : {
  }
}
</script>

<style scoped>
.container {
}

.title {
	font-weight: normal;
	font-style: normal;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	text-align: center;
	color: #D90368;
	letter-spacing: 2px;
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1em;  
}

.title-img img{
  width: 100%;
  height: auto;
}

.columns-block {
	padding-left: 2%;
	padding-right: 2%;  
}

.column-block {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	color: #565656;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	padding-left: 1%;
	padding-right: 1%;
	margin-left: 0px;
	margin-right: 0px;
}

.column-block p{
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #565656;  
}

.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
  text-align: center;
  margin-bottom: 10px;
}

.placeholder {
	width: 100%;
	height: 100%;
}

.column h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 10%;
  color: #717070;
	font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.column h4 {
	text-align: center;
  color: #D90368;
  margin-bottom: 10px;
}

.column p {
	padding-left: 25px;
	padding-right: 25px;
}

.columns-garally {
  background-color: #D90368;
  margin-top: 2em;
  padding-top: 10px;
  padding-bottom: 10px;  
  margin-bottom: 0em;
}

</style>
