<template>
  <div id="app" class="sf-site-all">  
    <Header/>
    <nuxt id="page-wrap" class="sf-site-content"/>
    <Footer/>
    <Loading/>
  </div>
</template>

<script>
import Header from '~/components/base/Header.vue'
import Footer from '~/components/base/Footer.vue'
import Loading from '~/components/base/Loading.vue'

export default {
  components: {
    Header,
    Footer,
    Loading
  }
}
</script>

<style>
.sf-site-all {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}
.sf-site-content {
  flex: 1;
  min-width: 100vw;
  padding-top: 3.6em;  
}

</style>
