<template>
  <div class="container">

    <section>
      <h2 class="hidden">Main Content</h2>

      <p class="title-img"><img src="/img/dmp/dmp_top.jpg" alt=""/></p> 
	    <h1 class="title">AIでデータを「欲しい」に変換　DMP開発</h1>

      <div class="columns columns-block">
        <article class="column column-block">
          <h3>「見る」「分析する」「提案する」「報告する」</h3>
          <p>お持ちのデータを可視化して、解析を簡単・明解にすることができるDMP。なんといっても様々なデータを統合し、分析結果を表示できるのが特徴です。弊社の提供するDMPでは、お客様のニーズにあった表示形式・表示内容・データ取り込みを行い納品します。</p>
        　<p>データの統合・表示についてはこちらで行いますので、お客様はデータの活用・分析やマーケティングに専念していただけます。</p>
        </article>
        <aside class="column column-block"><img controls="true" src="/img/dmp/dmp_image.jpg" alt="" class="placeholder"/> </aside>
      </div>
    </section>

    <div class="columns columns-block">
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/dmp/dmp_icon01.png" alt="" class="thumbnail"/> 
        </p>
        <h4>お持ちのデータはそのまま利用！</h4>
        <p>データ整理や可視化に必要なプロセスは、当社DMPが実施。データのアップロードまたは、データベースへのアクセス設定をするだけで利用できます。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/dmp/dmp_icon02.png" alt="" class="thumbnail"/> 
        </p>
        <h4>広域データも取り込み・反映！</h4>
        <p>地域別国勢調査のデータや、その他、Web上のデータを統合して表示、分析が可能。お持ちのデータを掛け合わせて分析できます。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align"> 
          <img src="/img/dmp/dmp_icon03.png" alt="" class="thumbnail"/> 
        </p>
        <h4>表現方法は、自由自在！</h4>
        <p>お客様に合わせた表現、３０種類以上のグラフィカル表現、必要データのみのダウンロード、複数グラフの同時フィルタリングが可能。</p>
      </div>
      <div class="column column-block">
        <p class="thumbnail_align">
          <img src="/img/dmp/dmp_icon04.png" alt="" class="thumbnail"/> 
        </p>
        <h4>使えば使うほど学習していくAI分析！</h4>
        <p>データのAI学習（機械学習、ディープラーニング、ニューラルネットワーク、ベイジアンネットワーク）によりお客様データを認知し、学習データを生成。</p>
      </div>
    </div>
  </div>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
  head() {
    return {
    }
  },
  data() {
    return {
    }
  },
  components: {
  },
  async mounted() {
    this.$store.dispatch('LOCK_UI') 

    this.$store.dispatch('UNLOCK_UI')    
  },
  computed: {
    ...mapGetters(['isLoaded'])
  },
  methods : {
  }
}
</script>

<style scoped>
.container {
}

.title {
	font-weight: normal;
	font-style: normal;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	text-align: center;
	color: #D90368;
	letter-spacing: 2px;
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1em;  
}

.title-img img{
  width: 100%;
  height: auto;
}

.columns-block {
	padding-left: 2%;
	padding-right: 2%;  
}

.column-block {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	color: #565656;
	line-height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: justify;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.column-block p{
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #565656;  
}

.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
  text-align: center;
  margin-bottom: 10px;
}

.placeholder {
	width: 100%;
	height: 100%;
}

.column h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 10%;
  color: #717070;
	font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.column h4 {
	text-align: center;
  color: #D90368;
  margin-bottom: 10px;
}

.column p {
	padding-left: 25px;
	padding-right: 25px;
}

.columns-garally {
  background-color: #D90368;
  margin-top: 2em;
  padding-top: 10px;
  padding-bottom: 10px;  
  margin-bottom: 0em;  
}

</style>
