* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #app, #__nuxt {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;

  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  background-color: #fff;
	font-style: normal;
  font-weight: 200;
  
  overflow: auto;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  flex-direction: column;
}

.container,
.container .columns {
  height: 100%;
  padding: 0;
  flex: 1;

  height: auto;
  margin: 0 auto 0 auto;

  /* 左右中央寄せ */
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;    
}

.container {
  max-width: 100%;
  width: 100%;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.hidden {
	display: none;
}


@media screen and (min-width: 1216px){
  .container {
      max-width: 100%;
      width: 100%;
  }
}

@media screen and (min-width: 1024px){
  .container {
      max-width: 100%;
      width: 100%;
  }
}


.is-vertical-center {
  display: flex;
  align-items: center;
}

.bm-burger-button {
  left: 16px!important;
  top: 16px!important;
  width: 24px!important;
  height: 24px!important;
  cursor: pointer;
  float: right;
}

.bm-menu {
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 0, 0.9)!important; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
}

.bm-burger-bars {
  background-color: #373a47;
}
.line-style {
  position: absolute;
  height: 1px!important;
  left: 0;
  right: 0;
}
.cross-style {
  position: absolute;
  top: 12px;
  right: 2px;
  cursor: pointer;
}
.bm-cross {
  background: #bdc3c7;
}
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-overlay {
  background: rgba(255, 255, 255, 0.3);
}
.bm-item-list {
  color: #b8b7ad;
  margin-left: 0!important;
  font-size: 1em!important;
}
.bm-item-list > * {
  display: block!important;
  text-decoration: none;
  padding: 0.45em!important;
}
.bm-item-list > * > span {
  margin-left: 10px;
  font-weight: 700;
  color: white;
}
.page-enter-active {
  transition: opacity 0.5s ease-out;
}
.page-leave-active {
  transition: opacity 0.5s ease-in;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}