<template>
    <div>
        <div class="all-wrapper">
            <div class="dropdown-wrapper" v-if="label != 'none'">
                <div class="dropdown-text">
                    {{label}}
                </div>
                <i class="el-icon-caret-bottom"></i>
            </div>
            <transition>
                <div class="list-items" v-if="isActive">
                    <template v-if="existsListItems">
                        <template v-for="(value, key) in listItems">
                            <div class="list-item" :key="key" :class="[key == activeItemKey ? 'active' : '' ]" @click="handleClickItem(key)">
                                {{value}}
                            </div>
                        </template>
                    </template>
                    <template v-else>
                        <div class="list-item">
                            選択肢がありません
                        </div>
                    </template>
                </div>
            </transition>
        </div>
        <div class="dropdown-bg" @click="handleClickItem()" v-if="isActive"></div>
    </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
    props: {
        label: {
            type: String,
            required: true,
        },
        listItems: {
            type: Object,
            required: true,
        },
        activeItemKey: {
            type: [String, Number],
            required: false,
        },
        action: {
            type: Function,
            required: true,
        },
    },
    data() {
        return {
        }
    },
    computed: {
        existsListItems() {
            return (this.listItems) ? this.listItems : false;
        },
        ...mapGetters('menu', ['isActive'])
    },
    methods: {
        handleClickItem(key) {
            if (key == this.activeItemKey) {
                return;
            }
            this.action(key);
        },
    }
}  
</script>

<style lang="css" scoped>

.dropdown-bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.all-wrapper {
    position: relative;
}

.dropdown-wrapper {
    color: #666666;

    display: flex;
    align-items: center;
}

.dropdown-wrapper:hover {
    cursor: pointer;
}

.dropdown-text {
    font-size: 14px;
}

.dropdown-text i {
    font-size: 10px;
    margin-left: 6px;
}
    

.list-items {
    width: 150px;
    max-height: 300px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    position: absolute;
    margin-top: -30px;
    right: 0;
    overflow-y: scroll;
    z-index: 3;
    padding: 0.5rem 0;
}

.list-item {
    color: #333;
    font-size: 14px;
    line-height: 16px;
    padding: 0.75rem 1rem;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    position: relative;
}

.list-item:not(.active):hover {
    background-color: #F3F4F6;
    cursor: pointer;
}

.list-item.active {
    color: #fff;
    background-color: #182A4B;
}

.v-enter-active, .v-leave-active {
    transition: all 0.3s
}

.v-enter {
    transform: translateY(-10px);
}

.v-enter, .v-leave-to {
    opacity: 0
}

</style>