<template>
    <!-- footer -->
    <footer class="noPrint"><p>Copyright(c) 2018 Tamago Co.,Ltd.</p></footer>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
  data() {
    return {
    }
  },
  components: {
  },
  mounted() {
  },
  computed: {
    ...mapGetters([])
  },
  methods : {
  }
}
</script>

<style scoped>
footer {
  height: 2em;
  background-color: #555555;
  color: white;
  padding-top: 1em;
  width: 100%;
  line-height: 0;   
  text-align: center; 
}

footer p{
  font-size: 1em;
  margin-bottom: 0rem;
}


</style>
