<template>
    <div class="hedaer">
        <header> 
            <div class="columns">
                <div class="column container">
                    <nuxt-link to="/">
                        <div class="logo title is-3 is-vertical-center">
                            <img src='/img/logo.png'/>
                        </div>
                    </nuxt-link>
                </div>
                <div class="column content">  
                    <div class="navbar-menu">
                        <div class="navbar-start"><!-- Menu Item -->
                            <nuxt-link to="/" class="navbar-item">HOME</nuxt-link>
                            <nuxt-link to="/company" class="navbar-item">CONPANY</nuxt-link>
                            <div class="navbar-item" @click="toggleDropdown()">WORK
                                <div class="dropdown" v-if="isDropdownOpened">
                                    <ul>
                                        <li><nuxt-link to="/works/smileflick" class="dropdown-item">写真共有サービス</nuxt-link></li>
                                        <li><nuxt-link to="/works/media" class="dropdown-item">最新メディア</nuxt-link></li>  
                                        <li><nuxt-link to="/works/signage" class="dropdown-item">デジタルサイネージ</nuxt-link></li>
                                        <li><nuxt-link to="/works/blockchain" class="dropdown-item">ブロックチェーン</nuxt-link></li>  
                                        <li><nuxt-link to="/works/dmp" class="dropdown-item">DMP</nuxt-link></li>      
                                    </ul>
                                </div>
                            </div>
                            <nuxt-link to="/contact" class="navbar-item">CONTACT</nuxt-link>
                        </div>                                            
                    </div>    
                    <Bubble>
                        <nuxt-link to="/" class="navbar-item">HOME</nuxt-link>
                        <nuxt-link to="/company" class="navbar-item">CONPANY</nuxt-link>
                        <div class="navbar-item">WORK
                            <ul>
                                <li><nuxt-link to="/works/smileflick" class="submenu-item">写真共有サービス</nuxt-link></li>
                                <li><nuxt-link to="/works/media" class="submenu-item">最新メディア</nuxt-link></li>  
                                <li><nuxt-link to="/works/signage" class="submenu-item">デジタルサイネージ</nuxt-link></li>
                                <li><nuxt-link to="/works/blockchain" class="submenu-item">ブロックチェーン</nuxt-link></li>  
                                <li><nuxt-link to="/works/dmp" class="submenu-item">DMP</nuxt-link></li>      
                            </ul>
                        </div>
                        <nuxt-link to="/contact" class="navbar-item">CONTACT</nuxt-link>
                        <div class="info">
                            <p>株式会社Tamago</p>
                            <p>03-5324-2537</p>
                            <p>東京都港区南青山３丁目８番４０号青山センタービル２F</p>
                        </div>
                    </Bubble>
                </div>              
            </div>    
        </header>
    </div>  
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { Bubble } from 'vue-burger-menu' 

export default {
    data() {
        return {
            isDropdownOpened: false
        }
    },    
    props: {
    },
    components: {
        Bubble
    },
    methods: {
        toggleDropdown(){
            this.isDropdownOpened = (this.isDropdownOpened) ? false : true;
        }
    }
}
</script>

<style scoped>
header{
    width: 100%;
    height: 3.6em;
	background-color: #ffffff;
	/* border-bottom: 2px solid #FFF100; */
    top: 0px;
    position: fixed;
    background-color: #FFF;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    z-index: 9999;
}

.logo {
    color: #FFF100;
    font-weight: bold;
    text-align: undefined;
    float: left;
    letter-spacing: 4px;
    min-height: 3rem;
    margin-left: 60px;
    margin-top: 0em;
}

.logo img {
    height: 3.25rem;
    width: auto;
}

.content {
    display: block;
}

.navi-bar {
    display: block;
    float: right;
    background-color: transparent;
    text-align: right;
    padding-top: 1.2em;    
}

.navbar-menu {
    padding-top: 0.3em;
    padding-right: 1em;
    float: right; 
}

.navbar-item, .navbar-link, .navbar-item-dropdown{
    color: black!important; 
    font-size: 1.2em;
}

.navbar-item:hover, .navbar-link:hover{
    cursor: pointer;    
    color: #CF196F!important; 
}

.navbar-item-dropdown:hover {
    cursor: pointer;
}

.info {
    margin-top: 1vh;
    color:black;
    border: 1px solid black;
    border-radius: 5px;
    width: 96%;
    margin-left:2%;
}

.info p{
    width: 97%;
}

.dropdown {
  background-color: #FFF;
  display: block;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
  padding: 1%;
}

.dropdown li, .navbar-item li{
  width: 98%;  
}

.dropdown ul, .navbar-item ul {
  margin-left: 0;
  margin-top: 3%;
  margin-bottom: 2%;
}

.dropdown-item {
  width: 100%;
}

.submenu-item {
  width: 100%;
  text-align: center;  
  font-size: 0.8em;
  color: black;
}

.submenu-item:hover {
    cursor: pointer;    
    color:rgb(238, 109, 152)!important; 
}

</style>