<template>
    <div v-if="!isLoaded">
      <div class="loading-wrapper">
        <div class="loading"></div>
      </div>
    </div> 
</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
  data() {
    return {
    }
  },
  components: {
  },
  mounted() {
  },
  computed: {
    ...mapGetters(['isLoaded'])
  },
  methods : {
  }
}
</script>

<style scoped>
.loading-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;  
  background-color: rgba(255,255,255,0.9);
}

.loading {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 40%;
  overflow: visible;
  z-index: 9999;
  /* transform: rotateX(60deg); */
  filter: drop-shadow(0 0 300px rgba(26, 209, 253, 1));
}

.loading::before {
  display: block;
  width: 140px;
  height: 140px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  border: solid 3px #00d1b2;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  overflow: hidden;
  content: '';
  position: absolute;
  animation: anim2 1s ease infinite;
}

@keyframes anim2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

</style>
